    {{ register_asset_bundle('frontend/assets/AppAsset') }}  {# asset root for yii advanced template #}
    {{   void(this.beginPage()) }}
    <!DOCTYPE html>
    <html lang="{{ app.language }}">
        <head>
            <meta charset="{{ app.charset }}">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <title>{{ html.encode(this.title) }}</title>
            {{ html.csrfMetaTags | raw }}
            {{   void(this.head) }}
        </head>
        <body>
            {{   void(this.beginBody()) }}
            <header class="site-header sticky-top py-1">
                    {{ nav_bar_begin({
                        'brandLabel': '<div class="logo"><img src="' ~ url.base(true) ~'./assets/logo/vallefiorita.png" alt="logo"/></div>',
                        'brandUrl' : app.homeUrl,
                        'options' : {
                        'class' : 'container d-flex flex-column flex-md-row justify-content-between navbar nav navbar-nav navbar-right',
                        }
                        })
                    }}
                    {% set menuItems = [] %}
                        {% if app.user.isGuest == false %}
                            {% set menuItems = menuItems|merge([
                                {'label' : 'Home', 'url' : ['/site/index']},
                                {'label' : 'Chi Siamo', 'url' : ['/site/about']},
                                {'label' : 'Scansiona scontrino', 'url' : ['/scontrino/carica']},
                                {'label' : 'Lista Scontrini', 'url' : ['/scontrino/lista']},
                                {'label' : 'Profilo e Saldo punti', 'url' : ['/profilo']},
                                {'label' : 'Premi', 'url' : ['/premi']},
                                {'label' : 'Logout (' ~ app.user.identity.username ~ ')', 'url' : ['/site/logout'], 'linkOptions' : {'data-method' : 'post'}}
                                ])
                            %}
                        {% else %}
                            {% set menuItems = menuItems|merge([
                                {'label' : 'Home', 'url' : ['/site/index']},
                                {'label' : 'Chi Siamo', 'url' : ['/site/about']},
                                {'label' : 'Accedi', 'url' : ['/site/login']},
                                ])
                            %}
                        {% endif %}
                    {{ nav_widget({
                        'options': {
                        'class': 'navbar-nav navbar-right',
                        },
                        'items': menuItems
                        })
                    }}
                    {{ nav_bar_end() }}
            </section>
            {% block hero %}
            {% endblock %}
            {% block content %}
            {% endblock %}
            {% block footer %}
            <footer class="px-5 py-5">
                <div class="row">
                    <div class="col-12 col-md">
                      <div class="logo"><img src="./assets/logo/vallefiorita.png" alt="logo"/></div>
                    </div>
                    <div class="col-6 col-md">
                    <h5>Features</h5>
                    <ul class="list-unstyled text-small">
                        <li><a class="link-secondary" href="#">Cool stuff</a></li>
                        <li><a class="link-secondary" href="#">Random feature</a></li>
                        <li><a class="link-secondary" href="#">Team feature</a></li>
                        <li><a class="link-secondary" href="#">Stuff for developers</a></li>
                        <li><a class="link-secondary" href="#">Another one</a></li>
                        <li><a class="link-secondary" href="#">Last time</a></li>
                    </ul>
                    </div>
                    <div class="col-6 col-md">
                    <h5>Resources</h5>
                    <ul class="list-unstyled text-small">
                        <li><a class="link-secondary" href="#">Resource name</a></li>
                        <li><a class="link-secondary" href="#">Resource</a></li>
                        <li><a class="link-secondary" href="#">Another resource</a></li>
                        <li><a class="link-secondary" href="#">Final resource</a></li>
                    </ul>
                    </div>
                </div>
            </footer>
            {% endblock %}
            {% block scripts %}
                <script src="./assets/js/script.js"></script>
            {% endblock %}
            {{   void(this.endBody()) }}
        </body>
    </html>
    {{   void(this.endPage()) }}