{{ register_asset_bundle('frontend/assets/AppAsset') }}  {# asset root for yii advanced template #}
    {{   void(this.beginPage()) }}
    <!DOCTYPE html>
    <html lang="{{ app.language }}">
        <head>
            <meta charset="{{ app.charset }}">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <title>{{ html.encode(this.title) }}</title>
            {{ html.csrfMetaTags | raw }}
            {{   void(this.head) }}
        </head>
        <body>
            {{   void(this.beginBody()) }}
            <section id="header">
                {{ nav_bar_begin({
                    'brandLabel': '<div class="logo"><img src="' ~ url.base(true) ~'/images/png/logo.png" alt="logo"/></div>',
                    'brandUrl' : app.homeUrl,
                    'options' : {
                    'class' : 'header navbar navbar-fixed-top',
                    }})
                }}
                {% set menuItems = [] %}
                    {% if app.user.isGuest == false %}
                        {% set menuItems = menuItems|merge([
                            {'label' : 'Main', 'url' : ['/site/index']},
                            {'label' : 'About', 'url' : ['/site/about']},
                            {
                                'label' : 'logout (' ~ app.user.identity.username ~ ')',
                                'url' : ['/site/logout'],
                                'linkOptions' : {'data-method' : 'post'}
                            }
                            ])
                        %}
                    {% else %}
                        {% set menuItems = menuItems|merge([
                            {'label' : 'Home', 'url' : ['/site/login']},
                            {'label' : 'login', 'url' : ['/site/login']},
                            {'label' : 'Scansiona Scontrino', 'url' : ['/site/login']},
                            {'label' : 'Contattaci', 'url' : ['/site/login']},
                        ])
                        %}
                    {% endif %}
                    {{ nav_widget({
                        'options': {
                            'class': 'navbar-nav navbar-right',
                        },
                        'items': menuItems
                    })
                    }}
                {{ nav_bar_end() }}
            </section>
                {{ void(this.beginBlock('content')) }}
                    {{ content | raw }}
                {{ void(this.endBlock()) }}

            <footer class="footer">
                {{ void(this.beginBlock('footer')) }}
                    <div class="container">
                            <p class="pull-left">&copy; My Company {{ 'now'| date('Y') }}</p>
                            <p class="pull-right">{{ Yii.powered() | raw }}</p>
                    </div>
                {{ void(this.endBlock()) }}
            </footer>
            {{   void(this.endBody()) }}
        </body>
    </html>
    {{   void(this.endPage()) }}